$color-1: #cf010e; // основной красный цвет 
$color-2: white; // основной белый цвет
$color-3: #333333; // основной черный цвет, используется в шрифтах
$color-4: #db333d; // красный для некоторого текста
$color-5: #f2f2f2; // немного серый для текста
$color-6: #e8233e; // красный для фона в service блоке
$color-7: #343233; // черный для фона в support блоке
$color-8: #4b484a; // серый, используется лишь как фон в нижней части логотипа