.advantage {
    margin-bottom: 3vw;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    &__image {
        width: 40%;

        &-container {
            margin-top: -10px;
            margin-right: 25px;
            height: 5vw;
            width: 5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: $color-1;
        }
    }

    &__description {
        width: 65%;
    }

    &__heading {
        margin-bottom: 1vw;
        width: 110%;
        font-size: 2vw;
        font-weight: 500;
        color: $color-1;
    }

    &__text {
        font-size: 1vw;
        color: $color-3;

        &_important {
            color: $color-1;
        }
    }

    @media(max-width: $xl) {
        width: 100%;

        &__heading {
            font-size: 2.2vw;
        }

        &__text {
            font-size: 1.2vw;
        }
    }

    @media(max-width: $lg) {
        margin-bottom: 5vw;
        width: 100%;
        display: flex;
        justify-content: center;

        &__description {
            width: 75%;
        }

        &__heading {
            font-size: 5vw;
        }

        &__text {
            font-size: 2.5vw;
        }

        &__image {

            &-container {
                height: 10vw;
                width: 10vw;
            }
        }
    }
}