.advantage {
    margin-bottom: 3vw;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    &__image {
        width: 40%;

        &-container {
            margin-top: -10px;
            margin-right: 25px;
            height: 66px;
            width: 66px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: $color-1;
        }
    }

    &__description {
        width: 65%;
    }

    &__heading {
        margin-bottom: 10px;
        width: 110%;
        font-size: 2vw;
        font-weight: 500;
        color: $color-1;
    }

    &__text {
        font-size: 1vw;
        color: $color-3;

        &_important {
            color: $color-1;
        }
    }
}