.button {
    width: 10vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    color: $color-2;
    text-decoration: none;
    background-color: $color-1;

    &:hover {
        color: $color-1;
        border: 2px solid $color-1;
        background-color: $color-2;
    }
}