.nav-bar {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    &__link {
        font-size: 1vw;
        color: $color-1;
        text-decoration: none;

        &_active {
            color: $color-3;
        }
    }

    @media(max-width: $xl) {
        width: 35vw;

        &__link {
            font-size: 1.2vw;
        }
    }
}