.nav-bar {
    margin-right: 7vw;
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__link {
        font-size: 1vw;
        color: $color-1;
        text-decoration: none;

        &_active {
            color: $color-3;
        }
    }
}