.text-block {
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__heading {
        font-size: 7vw;
        color: $color-1;
    }

    &__line {
        margin-bottom: 2vw;
        height: 5px;
        width: 12vw;
        background-color: $color-1;
    }

    &__text {
        // width: 80%;
        width: auto;
        font-size: 1vw;
        font-weight: 500;
        color: $color-3;
        text-align: left;
    }

    &__button {
        margin-top: 4vw;
        height: 4vw !important;
        width: 13vw !important;
        transition: 300ms ease-in-out;
    }

    @media(max-width: $xl) {
        &__heading {
            font-size: 8vw;
        }

        &__text {
            font-size: 1.2vw;
        }

        &__button {
            height: 3.5vw !important;
            width: 15vw !important;
            font-size: 1.2vw !important;
        }
    }

    @media(max-width: $lg) {
        width: auto;
        height: auto;
        justify-content: center;
        align-items: center;

        &__heading {
            font-size: 13vw;
        }

        &__text {
            width: 50%;
            font-size: 2.7vw;
            text-align: center;
        }

        &__line {
            margin-bottom: 2vh;
            width: 27vw !important;
        }

        &__button {
            height: 6vw !important;
            width: 30vw !important;
            font-size: 2.5vw !important;
        }
    }
}