.advantages {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__heading {
        margin-right: 5vw;
        margin-bottom: 3vw;
        font-size: 3vw;
        color: $color-1;
    }

    @media(max-width: $xl) {
        &__heading {
            margin-bottom: 3vw;
        }
    }

    @media(max-width: $lg) {
        margin: 0;
        margin-bottom: 10vw;
        max-width: 80%;
        justify-content: center;

        &__heading {
            margin-bottom: 10vw;
            font-size: 8vw;
        }
    }
}