.comparison {
    padding: 3vw 10vw;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: $color-3;

    &__burners {
        margin: auto;
        max-width: 1920px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    @media(max-width: $lg) {
        // padding: 5vh 0 !important;
        padding: 0;
        padding-top: 5vw;

        &__burners {
            width: 100vw;
            max-width: 100vw;
            flex-direction: column;
        }
    }
}