.service {
    width: 100%;
    min-height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__heading {
        margin-top: 3vh;
        margin-bottom: 3vh;
        font-size: 4vw;
        font-weight: bold;
        color: $color-1;
    }

    &__cards {
        margin-bottom: 3vw;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        margin-bottom: 2vw;
        height: 3vw !important;
        width: 15vw !important;
        font-size: 1.1vw !important;
        color: $color-2 !important;
        background-color: $color-1 !important;
        transition: 300ms ease-in-out !important;

        &:hover {
            color: $color-1 !important;
            border: 2px solid $color-1 !important;
            background-color: $color-2 !important;
        }
    }

    @media(max-width: $xl) {

        &__cards {
            margin-bottom: 0;
            flex-direction: column;
        }
    }

    @media(max-width: $lg) {
        &__heading {
            font-size: 8vw;
        }

        &__button {
            margin-top: -1vh !important;
            height: 10vw !important;
            width: 40vw !important;
            font-size: 3vw !important;
        }
    }
}