.service {
    width: 100%;
    min-height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__heading {
        margin-top: 3vh;
        margin-bottom: 3vh;
        font-size: 4vw;
        font-weight: bold;
        color: $color-1;
    }

    &__cards {
        margin-bottom: 3vw;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__button {
        margin-bottom: 2vw;
        width: 15vw !important;
        height: 3.5vw !important;
        font-size: 1.1vw !important;
        color: $color-2 !important;
        background-color: $color-1 !important;
        transition: 300ms ease-in-out !important;

        &:hover {
            color: $color-1 !important;
            border: 2px solid $color-1 !important;
            background-color: $color-2 !important;
        }
    }
}