.welcome {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/background-welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &__text-block {
        margin-right: 12vw;
        width: 20vw;
    }

    &__extra {
        margin-bottom: 2vw;
        font-size: 1.25vw;
        font-weight: 500;
        color: $color-3;
    }
}