.why {
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &__image {
        max-width: 60%;
        max-height: 100vh;
    }

    &__advantages {
        margin-top: 3vw;
        // height: 60vw;
        width: 40%;
    }

    @media(max-width: $lg) {
        margin-bottom: 10vw;
        justify-content: center;
        align-items: center;

        &__image {
            display: none;
        }
    }

    @media(max-width: $md) {
        padding-left: 3%;
        justify-content: flex-start;
    }
}