.why {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &__image {
        height: auto;
        width: 100%;

        &-container {
            // height: 100%;
            width: 60%;
        }
    }

    &__advantages {
        margin-top: 100px;
        height: 100%;
        width: 40%;
    }
}