.why {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &__image {
        width: 60%;
    }

    &__advantages {
        margin-top: 6vw;
        // height: 60vw;
        width: 40%;
    }
}