/* setting styles start */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; }

/* setting styles end */
.header {
  position: absolute;
  padding-right: 21.5vw;
  width: 100%;
  height: 130px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.welcome {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .welcome__text-block {
    margin-right: 12vw;
    width: 20vw;
    z-index: 1; }
  .welcome__extra {
    margin-bottom: 2vw;
    font-size: 1.25vw;
    font-weight: 500;
    color: #333333;
    z-index: 1; }
  .welcome__image {
    z-index: 1; }
  .welcome__background {
    position: absolute;
    right: 0;
    height: 100%;
    width: 33.5vw;
    background-color: #cf010e;
    z-index: 0; }

.why {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }
  .why__image {
    height: auto;
    width: 100%; }
    .why__image-container {
      width: 60%; }
  .why__advantages {
    margin-top: 100px;
    height: 100%;
    width: 40%; }

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .advantages__heading {
    margin-bottom: 7vh;
    font-size: 3vw;
    color: #cf010e; }

.nav-bar {
  margin-right: 7vw;
  width: 30vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1; }
  .nav-bar__link {
    font-size: 1vw;
    color: #cf010e;
    text-decoration: none; }
    .nav-bar__link_active {
      color: #333333; }

.support {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  .support__icon {
    margin-right: 1vw;
    font-size: 1.5vw;
    color: white; }
  .support__number {
    font-size: 0.85vw;
    color: white; }
  .support__text {
    font-size: 0.7vw;
    color: white; }

.text-block {
  height: 48%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  .text-block__heading {
    font-size: 7vw;
    color: #cf010e; }
  .text-block__line {
    margin: 0 auto;
    margin-bottom: 2vw;
    height: 5px;
    width: 12vw;
    background-color: #cf010e; }
  .text-block__text {
    width: 80%;
    font-size: 1vw;
    font-weight: 500;
    color: #333333;
    text-align: left; }
  .text-block__button {
    margin-top: 4vw;
    transition: 300ms ease-in-out; }

.button {
  width: 230px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  color: white;
  text-decoration: none;
  background-color: #cf010e; }
  .button:hover {
    color: #cf010e;
    border: 2px solid #cf010e;
    background-color: white; }

.advantage {
  margin-bottom: 5vh;
  height: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; }
  .advantage__image {
    width: 40%; }
    .advantage__image-container {
      margin-top: -10px;
      margin-right: 25px;
      height: 66px;
      width: 66px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #cf010e; }
  .advantage__description {
    width: 65%; }
  .advantage__heading {
    margin-bottom: 10px;
    width: 110%;
    font-size: 2vw;
    font-weight: 500;
    color: #cf010e; }
  .advantage__text {
    font-size: 1vw;
    color: #333333; }
    .advantage__text_important {
      color: #cf010e; }

/*# sourceMappingURL=main.css.map */
